@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */
  
body{
    background-image:url('CALGARY-WHITE.png');
    background-repeat: no-repeat;
	background-size: cover;
    line-height: 1.8;
    overflow: hidden;
}
.classy {
    background: url(/static/calgary.png);
 }

.navbar .login-container{
    float: right;

}

.navbar {
    background-image:linear-gradient(to right, #402bffd0, #419affda);
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 5px;
    letter-spacing: 5px;
    font: 20px Montserrat, sans-serif;
}

#indexblock {
    padding: 150px;
    /* width: 100%; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.card {
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199); */
    padding: 30px 30px;
    min-width: 800px;
    max-width: 1500px;
    min-height: 500px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    background-color: #402bff;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

h1{
    font-size: 100px;
    text-shadow: 2px 2px 4px #402bfff5;
}

p {
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 4px #402bfff5;
}

button {
	border-radius: 20px;
	border: 1px solid #402bfff5;
	background-color: #edf1fcd0;
	color: #f7f6faf5;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

map{
    height:auto;
    width: auto;
}

a {
    font-size: x-small;
}
